@import "https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css";

body {
    font-family: "Roboto", sans-serif;
    color: #333;
}

section {
    p, ul, li {
	line-height: 1.5;
    }
}

hr {
    color: #ccc;
}

a.nodeco {
    text-decoration: none;
    font-weight: bold;

    &:visited {
	color: inherit;
    }
}

.bt, .bb {
    border-color: #ccc;
}

a { color: #6f6c6c; }
