<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }} {{ $options := (dict "targetPath" "custom.css"
    "outputStyle" "compressed" "enableSourceMap" true) }} {{ $style :=
    resources.Get "custom.scss" | resources.ToCSS $options }}
    <link
      rel="stylesheet"
      href="{{ $style.RelPermalink }}"
      integrity="{{ $style.Data.Digest }}"
      media="screen"
    />
  </head>
  <body>
    {{ block "main" . }} {{ end }}

    <!-- Back To Top Button -->
    <!-- <div id="backtotop"><a href="#"></a></div> -->

    {{ if .Site.Params.sidebar }} {{ partial "sidebar.html" . }} {{ end }} {{
    partial "javascript.html" . }}
  </body>

  {{ partial "analytics.html" }}
</html>
