{{- $roadmap := .Site.Params.roadmap }} {{- $title := index $roadmap "title" }}
{{- $subtitle := index $roadmap "subtitle" }} {{- $link := index $roadmap "link"
}} {{- $items := index $roadmap "items" }}
<section class="section is-medium section-primary">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-5 light-text">{{ . }}</h3>
      {{- end }}
    </div>

    <div class="content-wrapper">
      <div class="columns is-vcentered">
        {{- range $items }}
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="content">
                <h4>{{ .label }}</h4>
                <p>{{ .description }}</p>
              </div>
            </div>
          </div>
        </div>
        {{- end }}
      </div>

      <div class="title-wrapper has-text-centered">
        <h4 class="title is-5 light-text is-vcentered">
          Keep track of our roadmap
          <a href="{{ $link }}" class="light-text is-underlined"> on Github </a>
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
        </h4>
      </div>
    </div>
  </div>
</section>
